.footer{
   display: flex;
   justify-content: space-between;
   width: calc(100% - 48px*2);
   margin: 92px auto 0;
   min-height: 20px;
}
@media screen and (max-width: 768px) {
   .footer{
      width: calc(100% - 24px*2);
      margin-top: 88px;
   }   
}
@media screen and (max-width: 320px) {
   .footer{
      flex-direction: column;
      margin-left: 16px;
      align-items: flex-start;
   }
}