.cover__subtitle{
   max-width: calc(100% - 412px*2);
   margin: 0 auto;
   text-align: center;
   font-size: 18px;
   line-height: 1.22; /* 122.222% */
}
@media screen and (max-width: 1024px) {
   .cover__subtitle{
      max-width: calc(100% - 332px*2);
   }
}
@media screen and (max-width: 768px) {
   .cover__subtitle{
      max-width: calc(100% - 204px*2);
   }
}
@media screen and (max-width: 320px) {
   .cover__subtitle{
      max-width: calc(100% - 16px*2);
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
   }
}